body {
	margin:0;
	font: 100% Arial, Helvetica, sans-serif;
}

div.main {
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
}

.dropbtn {
	padding-right:5px;
    border: none;
    cursor: pointer;
	background-color: white;
}

.dropdown {
	float:right;
    position: relative;
	padding-right:5px;
    padding-top:10px;
}

.dropdown-content {
    display: none;
    position: absolute;
	right:0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
}

.navbar {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
	margin-bottom:4px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ccc; 
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}

div.firstName {
	padding: 12px 0px 0px 15px;
	float:left;
	font-size:16px;
}

a.text {
	font-size:1.2em;
	padding:8px 10px 0px 0px;
	display:block;
	float:left;
}