<?xml version='1.0' encoding='utf-8'?>
<widget id="com.sukhajata.everydayenglish" version="1.0.102" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Everyday English</name>
    <description>
        An app for learning English.
    </description>
    <author email="timcranfield31@gmail.com" href="http://sukhajata.com">
        Tim Cranfield
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access launch-external="yes" origin="mailto:*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="27" />
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png" />
        <icon density="xhdpi" src="/res/icon/android/icon-96-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^6.3.0" />
    <engine name="browser" spec="^5.0.4" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-tts" spec="^0.2.3" />
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
    <plugin name="cordova-plugin-facebook4" spec="^3.0.0">
        <variable name="APP_ID" value="375106236257922" />
        <variable name="APP_NAME" value="English 1000" />
        <variable name="FACEBOOK_ANDROID_SDK_VERSION" value="4.36.0" />
    </plugin>
    <plugin name="cordova-plugin-googleplus" spec="^5.3.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.360023939896-30hv76cu3nnv4ktdmdrptnhv56c13ler" />
        <variable name="WEB_APPLICATION_CLIENT_ID" value="360023939896-8aju3ggkripjggi2im4r5lcl7k5b2a15.apps.googleusercontent.com" />
    </plugin>
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-admobpro" spec="^2.31.6" />
</widget>
